name: Integration
on: [push, pull_request, workflow_dispatch]
jobs:
  # TODO: add integration tests for snapcraft, charmcraft, etc

  juju:
    name: Juju
    runs-on: ubuntu-${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        channel:
        - { juju: '2.9', lxd: 5.21/edge }
        - { juju: '3', lxd: latest/edge }
        os:
        - 22.04
        - 24.04

    steps:

    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Setup LXD
      uses: ./
      with:
        channel: ${{ matrix.channel.lxd }}

    - name: Install Juju 2.9 (${{ matrix.os }})
      if: matrix.channel.juju == '2.9'
      run: |
        sudo snap install juju --classic --channel=2.9/stable

    - name: Install Juju 3 (${{ matrix.os }})
      if: matrix.channel.juju == '3'
      run: |
        sudo snap install juju --channel=3/stable
        mkdir -p ~/.local/share
        mkdir -p ~/.ssh
        sudo snap connect juju:ssh-keys

    - name: Bootstrap
      run: |
        set -x
        juju bootstrap lxd c
        juju switch controller
        juju status
